{% load static %}
<!doctype html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="カジュアルプレイ用の代理カード作成 などに是非ご活用ください">
	<meta name="viewport" content="width=device-width">
	<title>PROXY MAKER | YGO OCG</title>
	<link rel="stylesheet" media="all" href={% static "css/style.css" %}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src={% static 'js/script.js' %}></script>
</head>

<body id="top">
	<div id="wrapper">

		<div id="sidebar">
			<div id="sidebarWrap">
				<h1><a href="#top"><img src={% static "images/logo.png" %} width="87" height="25" alt="logo"></a></h1>
				<nav id="mainnav">
					<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
					<div class="panel">
						<ul>
							<li><a href="{% url 'card_manager:card_choice' %}">PROXY MAKER</a></li>
							{% if user.is_authenticated %}
							<li><a href="{% url 'accounts:logout' %}">LOGOUT</a></li>
							{% else %}
							<li><a href="{% url 'accounts:login' %}">LOGIN/SIGNIN</a></li>
							{% endif %}
							<li><a href="#sec01">ABOUT</a></li>
							<li><a href="#sec02">SAMPLE DECKS</a></li>
							<li><a href="#sec03">HOW TO USE</a></li>
						</ul>
						<ul id="sns">
							<li><a href="#" target="_blank"><img src={% static 'images/iconFb.png' %} width="20" height="20" alt="FB"></a></li>
							<li><a href="#" target="_blank"><img src={% static 'images/iconTw.png' %} width="20" height="20" alt="twitter"></a></li>
							<li><a href="#" target="_blank"><img src={% static 'images/iconInsta.png' %} width="20" height="20" alt="Instagram"></a></li>
							<li><a href="#" target="_blank"><img src={% static 'images/iconYouTube.png' %} width="20" height="20" alt="You Tube"></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<div id="content">
			<h1><span>PROXY_MAKER</span></h1>
			{% if user.is_authenticated %}
			<p>ユーザID: {{ user.id }}</p>
			<p>ユーザ名: {{ user }}</p>
			{% endif %}
			<div class="">
				<p>
					<li><a href="{% url 'accounts:index' %}"> [アカウント管理] 登録・ログイン機能</a> /accounts/</li>
				</p>
				<p>
					<li><a href="{% url 'card_manager:card_choice' %}"> [プロキシメーカー] カード検索とか</a> /card/</li>
				</p>
			</div>
			<!-- <p id="mainImg"><img src={% static "images/mainImg.jpg" %} width="800" height="168" alt=""></p> -->
			<!-- MESSAGE -->
			<section id="sec01">
				<header>
					<h2><span>ABOUT</span></h2>
				</header>
				<div class="innerS">
					このサイトは、 TCGのプロキシカード を簡単に作成することが出来る「プロキシカードメーカー」を提供するサイトです。 高額＆品薄で入手困難なカードのプロキシ作成 発売前のカードの試運転 カジュアルプレイ用の代理カード作成 などに是非ご活用ください。
				</div>
			</section>
			<!-- // MESSAGE -->
			<!-- BRAND -->
			<section id="sec02">
				<header>
					<h2><span>SAMPLE DECKS</span></h2>
				</header>
				<div class="inner">
					<ul class="col4">
						<li>
							<p class="img"><a href=""><img src={% static "images/logo01.png" %} width="168" height="168" alt=""></a></p>
							<p>強いデッキ</p>
						</li>
						<li>
							<p class="img"><a href=""><img src={% static "images/logo02.png" %} width="168" height="168" alt=""></a></p>
							<p>環境最強</p>
						</li>
						<li>
							<p class="img"><a href=""><img src={% static "images/logo03.png" %} width="168" height="168" alt=""></a></p>
							<p>ネタ系</p>
						</li>
						<li>
							<p class="img"><a href=""><img src={% static "images/logo04.png" %} width="168" height="168" alt=""></a></p>
							<p>ワンキル</p>
						</li>
					</ul>
				</div>
			</section>
			<!-- // BRAND -->
			<!-- PROJECT -->
			<section id="sec03">
				<header>
					<h2><span>HOW TO USE</span></h2>
				</header>
				<div class="inner">
					<div class="article">
						<img src={% static "images/photo14.jpg" %} width="370" height="224" alt="">
						<p>このサイトは、 TCGのプロキシカード を簡単に作成することが出来る「プロキシカードメーカー」を提供するサイトです。 高額＆品薄で入手困難なカードのプロキシ作成 発売前のカードの試運転 カジュアルプレイ用の代理カード作成 などに是非ご活用ください。</p>
						<p>このサイトは、 TCGのプロキシカード を簡単に作成することが出来る「プロキシカードメーカー」を提供するサイトです。 高額＆品薄で入手困難なカードのプロキシ作成 発売前のカードの試運転 カジュアルプレイ用の代理カード作成 などに是非ご活用ください。</p>
					</div>
					<div class="article">
						<img src={% static "images/photo15.jpg" %} width="370" height="224" alt="">
						<p>このサイトは、 TCGのプロキシカード を簡単に作成することが出来る「プロキシカードメーカー」を提供するサイトです。 高額＆品薄で入手困難なカードのプロキシ作成 発売前のカードの試運転 カジュアルプレイ用の代理カード作成 などに是非ご活用ください。</p>
						<p>このサイトは、 TCGのプロキシカード を簡単に作成することが出来る「プロキシカードメーカー」を提供するサイトです。 高額＆品薄で入手困難なカードのプロキシ作成 発売前のカードの試運転 カジュアルプレイ用の代理カード作成 などに是非ご活用ください。</p>
					</div>
				</div>
			</section>
			<!-- // PROJECT -->

			<footer id="footer">
				Copyright (C) 2018 sonoda umi All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank">http://f-tpl.com</a>
			</footer>

		</div>
	</div>

</body>

</html>
