{% extends "base.html" %}

{% block branding %}
PROXY MAKER PoC
{% endblock %}

{% load static %} {% block content %} {% csrf_token %}
<link rel="stylesheet" media="all" href={% static "css/style.css" %}>

<h2>カード登録</h2>

{% if user.is_authenticated %}
<p>ユーザID: {{ user.id }}</p>
<p>ユーザ名: {{ user }}</p>
{% endif %}

<p>
  <li><a href="{% url 'card_manager:card_pool' %}"> [カード管理] カードプール</a> /card/pool/</li>
  <li><a href="{% url 'card_manager:deck_list' %}"> [カード管理] デッキ一覧</a> /card/decks/</li>
  <li><a href="{% url 'card_manager:proxy' %}"> [カード管理] プロキシ表示(demo)</a> /card/proxy/</li>
</p>

<form action="" method="post">
  {% csrf_token %}
  <div>
    <label for="card">検索するカード名: </label>
    <input id="card" type="card" name="card" >
  </div>
  <div class="">
    <button class="btn btn-primary btn-lg">検索</button>
  </div>
</form>

<div class="">
  <p>{{ message }}</p>
</div>

<form class="" action="{% url 'card_manager:card_register' %}" method="post">
  {% csrf_token %}
<button class="btn btn-primary btn-lg">カードプールへ追加</button><br>
<span class="card_image">
  {% for card_url in card_url_list %}
  <label>
    <input class="location_radio" type="radio" name="selected_card" value="{{ card_url }},{{ card }}">
    <img class="thumbnail" src="{{ card_url }}" />
  </label>
  {% endfor %}
</span>
</form>

{% endblock %}
