{% extends "base.html" %}

{% block branding %}
PROXY MAKER PoC
{% endblock %}

{% load static %} {% block content %} {% csrf_token %}
<link rel="stylesheet" media="all" href={% static "css/style.css" %}>

<h2>カード選択</h2>

{% if user.is_authenticated %}
<p>ユーザID: {{ user.id }}</p>
<p>ユーザ名: {{ user }}</p>
{% endif %}

<p>
  <li><a href="{% url 'card_manager:card_pool' %}"> [カード管理] カードプール</a> /card/pool/</li>
</p>

<form action="" method="post">
  {% csrf_token %}
  <div>
    <label for="card">検索するカード名: </label>
    <input id="card" type="card" name="card" size="50">
  </div>
  <div class="">
    <button class="btn btn-primary btn-lg">検索</button>
  </div>
</form>

<div class="">
  <p>{{ message }}</p>
</div>

<span class="people_photo">
  {% for card_url in card_url_list %}
  <label>
    <input class="location_radio" type="checkbox" name="img" value="{{ card_url }}">
    <img class="thumbnail" src="{{ card_url }}" />
  </label>
  {% endfor %}
</span>

<a href="{% url 'card_manager:proxy' %}">プロキシ作成</a>


{% endblock %}
